<template name="distributionsAdd">
	{{#if isLoading}}
		{{> loading}}
	{{/if}}

	<div>
	<form id="add-distribution-form">
  		<div class="form-group {{errorClass 'name'}}">
      		<label>Distribution Name:</label>
      		<input type="text" class="form-control" id="distribution-name" placeholder="Distribution Name" >
      		<span class="help-block">{{errorMessage 'name'}}</span>
    	</div>
    	<div>
    		<h3>Contact List</h3>

    		<ul class="ionic-list">
    			{{#each contactslist}}
  				<li class="ionic_item ionic_item-toggle">{{dispName}}
     				<label class="toggle toggle-positive">
	     				<input type="checkbox" id='contact-{{dispName}}' value="{{dispName}}" name="contact"/>
						<div class="track">
						    <div class="handle"></div>
						</div>
				    </label>
				</li>
				{{/each}}
			</ul>
    	</div>
    	<br>
    	<input type="submit" value="submit" class="btn btn-success"/>
    </form>
    </div>
</template>