<template name="myProfile">

	
	<p><h3>User Registration</h3></p>
	<div class="radio-inline">
	  <label>
	    <input type="radio" name="usertypeOptions" id="agentRadio" class="agentRadio" value="agent">
	    	I am an Agent
	  </label>
	</div>
	<div class="radio-inline">
	  <label>
	    <input type="radio" name="usertypeOptions" id="clientRadio" class="clientRadio" value="client">
	    	I am a Client
	  </label>
	</div>
	
	<div>
		{{#if isAgentProfile}}
			{{> agentProfile}}
		{{/if}}

		{{#if isClientProfile}}
			{{> clientProfile}}
		{{/if}}
	</div>

</template>